loguru

numpy==1.26.4
pandas

scikit-learn
optuna

plotly
seaborn
matplotlib

torch==2.8.0+cu128 --index-url https://download.pytorch.org/whl/cu128

pyg_lib -f https://data.pyg.org/whl/torch-2.8.0+cu128.html
torch_scatter -f https://data.pyg.org/whl/torch-2.8.0+cu128.html
torch_sparse -f https://data.pyg.org/whl/torch-2.8.0+cu128.html
torch_cluster -f https://data.pyg.org/whl/torch-2.8.0+cu128.html
torch_spline_conv -f https://data.pyg.org/whl/torch-2.8.0+cu128.html
torch_geometric==2.7.0

networkx

sentence-transformers