training:
  lr: 0.00005
  weight-decay: 0.001
  bs: 4
  scheduler: 'reducelr'
  gamma: 0.5
  step-size: 50
  embed_model: 'sentence-transformers/all-MiniLM-L6-v2'

model:
  h_dim: 256
  head: 8
  t_dropout: 0.3
  g_dropout: 0.3
  v_dropout: 0.3
  a_dropout: 0.3
  use_attention: True
  use_cross_modal: True