training:
  lr: 0.00005
  weight-decay: 0.001
  bs: 4
  scheduler: 'reducelr'
  gamma: 0.5
  step-size: 50
  embed_model: 'sentence-transformers/all-MiniLM-L6-v2'

model:
  h_dim: 256
  head: 4
  num_layers: 3
  t_dropout: 0.4
  g_dropout: 0.4
  v_dropout: 0.4
  a_dropout: 0.4
  use_attention: True
  use_summary_node: True
  v_a_connect: False
  use_text_proj: False