training:
  lr: 0.000029
  weight-decay: 0.000965
  bs: 8
  scheduler: 'reducelr'
  warmup_epoch: 5
  gamma: 0.5
  step-size: 50
  embed_model: 'sentence-transformers/all-MiniLM-L6-v2'

model:
  h_dim: 256
  head: 8
  num_layers: 3
  bilstm_num_layers: 2
  t_dropout: 0.3
  g_dropout: 0.3
  v_dropout: 0.3
  a_dropout: 0.3
  use_attention: True
  use_summary_node: False
  use_text_proj: True

  use_text: True
  use_audio: True
  use_vision: False 